<a href="https://colab.research.google.com/github/eli0o/eli0o/blob/main/Struktur_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list = ["Nenas", "Semangka", 20, 15.5, False]
print(list)

['Nenas', 'Semangka', 20, 15.5, False]

In [ ]:
print(type(list))

<class 'list'>

In [ ]:
# Menghitung berapa panjang data dalam variabel list
list = ["Nenas", "Semangka", 20, 15.5, False]
print(len(list))

5

In [ ]:
# Melihat data ke 3 pada variabel list
list = ["Nenas", "Semangka", 20, 15.5, False]
print(list[2])

20

In [ ]:
list[2] = 175
list[3] = 100
list[4] = "Apple"
print(list)

['Nenas', 'Semangka', 175, 100, 'Apple']

In [ ]:
# Menambahkan List Langsung dengan sebuah nilai
list_baru = ["Nenas", "Semangka", 175, 100, "Apple", 1000, 2000, True]
list_baru.append(8000)
print(list_baru)

['Nenas', 'Semangka', 175, 100, 'Apple', 1000, 2000, True, 8000]

In [ ]:
# Menambahkan item list dengan fungsi insert
list_baru.insert(1,9000)
print(list_baru)

['Nenas', 9000, 'Semangka', 175, 100, 'Apple', 1000, 2000, True, 8000]

In [ ]:
# Menghapus data item terakhir pada list menggunakan fungsi pop()
list_baru.pop()
print(list_baru)

['Nenas', 9000, 'Semangka', 175, 100, 'Apple', 1000, 2000, True]

In [ ]:
# Menghapus data nilai sesuai indeks
list_baru.pop(2)
print(list_baru)

['Nenas', 9000, 175, 100, 'Apple', 1000, 2000, True]

In [ ]:
# Menghapus data item sesuai indeks pada list menggunakan fungsi del
del list_baru[2]
print(list_baru)

['Nenas', 9000, 100, 'Apple', 1000, 2000, True]

In [ ]:
# Memotong list
bulan = ["jan", "feb", "mar", "apr", "may", "jun"]
print (bulan[1:5])

['feb', 'mar', 'apr', 'may']

In [ ]:
# Membuat list makanan dengan 2 dimensi
list_makanan = [
    ["kue coklat", "tempe bacem", "Tahu goreng"],
    ["Ayam Goreng", "ayam bakar", "ayam rica-rica"],
    ["sop", "soto", "mie ayam"]
]
print (list_makanan[1][2])
print (list_makanan[1][1])
print (list_makanan[0][0])

ayam rica-rica
ayam bakar
kue coklat

In [ ]:
# Tugas 1
# Data list
list_tugas = ["Data1", [90, 40, 30, 00, 10], 12, "Data2"]

print("Tampilkan Output Seperti dibawah ini")
print("Output ke 1 = ", list_tugas[0])
print("Output ke 2 = ", list_tugas[1][1])
print("Output ke 3 = ", list_tugas[2])
print("Output ke 4 = ", list_tugas[1][4])
print("Output ke 5 = ", list_tugas[3])
print("Output ke 6 = ", list_tugas[3][3])
print(type(list_tugas))

Tampilkan Output Seperti dibawah ini
Output ke 1 =  Data1
Output ke 2 =  40
Output ke 3 =  12
Output ke 4 =  10
Output ke 5 =  Data2
Output ke 6 =  a
<class 'list'>

In [ ]:
# Membuat Tupple
data_tupple = (60,20,10,30,100,55)
print((data_tupple))
print(type(data_tupple))

(60, 20, 10, 30, 100, 55)
<class 'tuple'>

In [8]:
# Membuat Tupple
data_tupple1 = (33,44,55,66,77,88,90)
print(data_tupple1+(20,189,77,33,66,"string"))
data_tupple2 =(20,189,77,33,66,"string")

(33, 44, 55, 66, 77, 88, 90, 20, 189, 77, 33, 66, 'string')

In [9]:
print(data_tupple2)

(20, 189, 77, 33, 66, 'string')

In [10]:

data_tupple3 =(22,23,24,25,26,27,28)

In [21]:
data_tupple_potong = data_tupple3[0:4]

In [14]:
data_tupple_duplikat = data_tupple3[:]

In [22]:
print(data_tupple_potong)

(22, 23, 24, 25)

In [24]:
print(data_tupple_duplikat)

(22, 23, 24, 25, 26, 27, 28)

In [25]:
tuplel = (1,2,3,4)

In [31]:
a,b,c,d = tuplel
print(c)

3

In [36]:
data_dic1 = {
    'nama_barang': 'kursi',
    'deskripsi': 'kokoh',
    'harga': 150000
}

data_dic2 = {
    'judul': 'asdasda',
    'penulis': 'ksadokof'
}

In [37]:
print(data_dic1)
print(data_dic2)

{'nama_barang': 'kursi', 'deskripsi': 'kokoh', 'harga': 150000}
{'judul': 'asdasda', 'penulis': 'ksadokof'}

In [39]:
print(type(data_dic1))

<class 'dict'>

In [41]:
data_dictionary = {
    'nama_barang': 'kursi',
    'deskripsi': 'kokoh',
    'harga': 150000}

In [44]:
print("Nama Barang:",data_dictionary.get('nama_barang'))
print("Harga:",data_dictionary['harga'])

Nama Barang: kursi
Harga: 150000

In [46]:
print(data_dictionary.values())
print(data_dictionary.items())
print(data_dictionary.keys())

dict_values(['kursi', 'kokoh', 150000])
dict_items([('nama_barang', 'kursi'), ('deskripsi', 'kokoh'), ('harga', 150000)])
dict_keys(['nama_barang', 'deskripsi', 'harga'])

In [48]:
data_dictionary["warna"]="coklat"
print(data_dictionary)

{'nama_barang': 'kursi', 'deskripsi': 'kokoh', 'harga': 150000, 'warna': 'coklat'}